[user]
    email = rachel@beijaflor.es
    name = Rachel Shaw

[push]
    default = simple

[credential]
    helper = cache --timeout 3600

[filter "spabs"]
    clean = expand --initial -t 4
    smudge = expand --initial -t 4
    required

[merge]
    renormalize = true

[pull]
    rebase = false

[commit]
    verbose = true

[pager]
	branch = false
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[protocol "file"]
	allow = always
