[user]
    email = rachel@beijaflor.es
    name = Rachel Shaw
[push]
    default = simple
[credential]
    helper = cache --timeout 3600
[filter "spabs"]
    clean = expand --initial -t 4
    smudge = expand --initial -t 4
    required
[merge]
    renormalize = true
[pager]
	branch = false
[pull]
    rebase = false
[commit]
    verbose = true
